  body {
    font-family: 'Sofia Sans Condensed', sans-serif; /* para todo el contenido general */
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'TASA Orbiter', sans-serif; /* para títulos */
  }

.content {
  margin-top: 10px;
}
